In [70]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sea
from sklearn.preprocessing import LabelEncoder

In [71]:
dat=pd.read_csv('store.csv')

In [72]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115597 entries, 0 to 115596
Data columns (total 9 columns):
Duration                115597 non-null int64
Start date              115597 non-null object
End date                115597 non-null object
Start station number    115597 non-null int64
Start station           115597 non-null object
End station number      115597 non-null int64
End station             115597 non-null object
Bike number             115597 non-null object
Member type             115597 non-null object
dtypes: int64(3), object(6)
memory usage: 7.9+ MB

In [73]:
dat=dat.drop('Start date',axis=1)
dat=dat.drop('End date',axis=1)
dat=dat.drop('Start station',axis=1)
dat=dat.drop('End station',axis=1)

In [74]:
dat.head()

   Duration  Start station number  End station number Bike number Member type
0      1012                 31208               31108      W00742      Member
1        61                 31209               31209      W00032      Member
2      2690                 31600               31100      W00993      Member
3      1406                 31600               31602      W00344      Member
4      1413                 31100               31201      W00883      Member

In [75]:
dat.head()                                    ########### label encoder
le = LabelEncoder()
le.fit(dat['Member type'])
dat['Member type'] = le.transform(dat['Member type'])

le = LabelEncoder()
le.fit(dat['Bike number'])
dat['Bike number'] = le.transform(dat['Bike number'])

In [76]:
train.shape,test.shape

((85000, 5), (30597, 5))

In [77]:
train=np.array(dat.iloc[0:85000])
test=np.array(dat.iloc[85000:,])

In [78]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [79]:
model.fit(train[:,0:4],train[0:,4])
predicated=model.predict(test[:,0:4])

In [82]:
predicated.shape

(30597,)

In [83]:
predicated

array([1, 1, 1, ..., 1, 1, 0], dtype=int64)

In [89]:
count=0
for l in range(30597):
    if(predicated[l]==test[l,4]):
      count=count+1

In [90]:
print(count/30597*100)

91.7933130699088